html {
  color: #444;
  font-size: 100%;    
  background: #f7f7f7 url(../images/bg.png) repeat center top;
}

body {
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; 
  font-size:18px; 
  line-height: 1.5;
}


.page-wrap {
  width: 1000px;
  margin: 0 auto;
}

.header {
  width: 1000px;
  height: 50px;
  padding-left: 200px;
}

.left-menu {
  width: 180px;
  float: left;
  padding-top: 40px;
  padding-right: 20px;
}

.left-menu a {
cursor: pointer; 
width: 80px;
margin-left: 60px;
margin-right: 40px;
float: right;
margin-top: 20px;
}
.names{
  width:800px;
}
.names>div{
  display:inline-block;
}
.content{
  width: 800px;
  float: left;
}
.content .left{
  width: 40px
}

.todo-entry{
  width:800px;
}

.thentr{
  width:800px;
}

.properties{
  width:200px;
  padding-left:300px;
  padding-right:300px;
  float:left;
}
.properties a.categ{
  cursor: pointer;
  border: dotted;
  padding: 1px 3px;
  border-color: #111;
  font-size: 12pt;
}




div.enter-field>div{
  display: inline-block;
}

