#leftp {
      width: 210px;
      padding-left: 20px;
      float: left;
    }

.left-menu {
      overflow: hidden;
      list-style: none;
      width: 210px;
      float: left;
      padding-top: 40px;
      padding-bottom: 20px;
      display: block;
    }
.cat_remove_button {
      float:right;
      margin-top: 20px;
      width: 30px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      background-color: #3D3D3D;
      opacity: 0.3;
      line-height: 24px;
      margin-right: 2px;
      font-size: 30pt;
      padding-bottom: 5px;
      cursor: pointer;
}
.cat_remove_button:hover,
.cat_remove_button:focus{
      opacity: 1;
      background-color: #2ac7e1;
}


div.temp_menu{
      width:180px;
      float: right;
      padding-right: 30px;
}
.left-menu a {
	  /*padding: 0 10px;*/
      height: 0; 
	  line-height: 30px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;	  
      border-right: 10px solid #3D3D3D;
      border-left: 10px solid #3D3D3D;
      border-bottom: 30px solid #3D3D3D;
      border-bottom-color: #777\9;
      opacity: .3;
      filter: alpha(opacity=30);
      cursor: pointer; 
      width: auto;
      float: right;
      margin-top: 20px;
    }

.left-menu a:hover,
.left-menu a:focus {
      border-color: #2ac7e1;
      opacity: 1;
      filter: alpha(opacity=100);
    }

.left-menu a:focus {
      outline: 0;
    }

.left-menu #current {
      z-index: 3;
      border-color: #3d3d3d;
      opacity: 1;
      filter: alpha(opacity=100);	  
    }



.cat_enter_field {
      overflow: hidden;
      list-style: none;
      float: left;
      padding-top: 20px;
      width:180px;
      float: right;
      padding-right: 30px;
    }
    
.cat_enter_field div.field{
      padding-left: 14px;
}
.cat_enter_field div.field input{
      position: absolute;
      height: 24px;
}
.cat_enter_field a {
      cursor: pointer;
      height: 0; 
	  line-height: 30px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;	  
      border-right: 10px solid #3D3D3D;
      border-left: 10px solid #3D3D3D;
      border-bottom: 30px solid #3D3D3D;
      border-bottom-color: #777\9;
      opacity: .3;
      filter: alpha(opacity=30);
      cursor: pointer; 
      float: right;
      
    }

.cat_enter_field a:hover,
.cat_enter_field a:focus {
      border-color: #2ac7e1;
      opacity: 1;
      filter: alpha(opacity=100);
    }

.cat_enter_field a:focus {
      outline: 0;
    }
#category_field{
        border: none;
        outline: none;
  font-family: Sergoe UI;
  background-color: #197787;
  display: table-cell;
  line-height: 30px;
  font-size: 16pt;
  color: #fff;
  padding: 0;
  width:125px;
  margin-right:3px;
  margin-top:5px;
  padding-left:6px;
  padding-right: 6px;
  box-shadow:inset 0px 0px 1px 1px #121212;
}
.field{
      display: block;
      float: right;
margin-right: 140px;
padding: 0;
}