<!DOCTYPE HTML>
	<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/greetingpage.css" />
		
		<script type="text/javascript" src="{{STATIC_URL}}jscript/jquery.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}jscript/jquery-ui.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}jscript/jquery_punch.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}jscript/myscript.js"></script>
		<!--<script type="text/javascript" src="loadingapi.js"></script>-->
		<!--<script type="text/javascript" src="jquery.ui.touch-punch.min.js"></script>-->
	</head>


	<body>
		
		
		<!-- HEADERRRRR -->
		<div id="header">
			<div id="logo">
				<a href="mainpage.html">VIDEOROAST.COM</a>
			</div>
			
			<div id="userinfo">
				Hey user
			</div>
			<div style="display: block; clear: both;"></div>
		</div>
		
		<!--BODY -->
		<div id="page-wrap">
			<div id="sidebar">
				<!--<div class="sidedecorationwraper">
					<div class="sidedecoration">	
					</div>
				</div>-->
				<div class="sideitem">
					<a href="" class="nameitem">
					   Choose	
					</a>
					<div class="number">
						1.
					</div>
					
					<div style="display: block; clear: both;"></div>
				</div>
				<div class="sideitem">
					<a  href="greetingpage_invite.html" class="nameitem">
					   Invite	
					</a>
					<div class="number">
						2.
					</div>
					
					<div style="display: block; clear: both;"></div>
				</div>
				<div class="sideitem">
					<a  href="greetingpage_record.html" class="nameitem">
					   Record	
					</a>
					<div class="number">
						3.
					</div>
					
					<div style="display: block; clear: both;"></div>
				</div>
				<div class="sideitem">
					<a  href="greetingpage.html" class="nameitem opened">
					   Organize	
					</a>
					<div class="number">
						4.
					</div>
					
					<div style="display: block; clear: both;"></div>
				</div>
				<div class="bottomone sideitem">
					<a href="" class="nameitem">
					   Finish	
					</a>
					<div class="number">
						5.
					</div>
					
					<div style="display: block; clear: both;"></div>
				</div>
				<div style="display: block; clear: both;"></div>			</div>
			<div id="page_body">
				<!--<div id="textmessage">
					Happy birthday!
				</div>
				<video poster='vr.png' class="hiw_video" controls>
					<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
				</video>
				<div id="player" class="hiw_video"></div>-->
				<iframe class="hiw_video" src="http://www.youtube.com/embed/rR94NDIfGmA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
				<div id="videosblock">
					<ul class="sortable-list">
						<li class="first">
							<div class="vl_empty left">
							</div>
							<div class="vl_notrecorded element">
								<div class="vl_sadface">
									<a href="greetingpage_record.html" class="youoverlay">
									</a>
								</div>
								<p class="pname">You</p>
								<p class="pemail">you@mit.edu</p>
								<div class="closebutton"></div>
							</div>
							<div class="vl_empty right">
							</div>
							<div style="display: block; clear: both;"></div>
						</li>
						<li class="second">
							<div class="vl_empty left">
							</div>
							<div class="vl_video element">
								<video poster='vr.png' controls>
										<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
								</video>
								<p class="pname cool">Jennie</p>
								<p class="pemail">drinkingjuice@mit.edu</p>
								<div class="closebutton wide"></div>
							</div>
							<div class="vl_empty right">
							</div>
							<div style="display: block; clear: both;"></div>
						</li><!--
						<li class="second">
							<div class="vl_empty left">
							</div>
							<div class="vl_video element">
								<video poster='vr.png' controls>
										<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
								</video>
								<p class="pname cool">Eduardo</p>
								<p class="pemail">cereals@mit.edu</p>
								<div class="closebutton wide"></div>
							</div>
							<div class="vl_empty right">
							</div>
							<div style="display: block; clear: both;"></div>
						</li>-->
						<li>
							<div class="vl_empty left">
							</div>
							<div class="vl_notrecorded element">
								<div class="vl_sadface">
									<div class="overlay">
									<a style="
										display: block;
										position: relative;
										font-size: 30px;
										top: 25%;
										width: 100px;
										text-align: center;
										color: red;
									    ">remind</a>
									</div>
								</div>
								<p class="pname">James</p>
								<p class="pemail">james@mit.edu</p>
								<div class="closebutton"></div>
							</div>
							<div class="vl_empty right">
							</div>
							<div style="display: block; clear: both;"></div>
						</li><!--
						<li>
							<div class="vl_empty left">
							</div>
							<div class="vl_notrecorded element">
								<div class="vl_sadface">
									<div class="overlay">
									<a style="
										display: block;
										position: relative;
										font-size: 30px;
										top: 25%;
										width: 100px;
										text-align: center;
										color: red;
									    ">remind</a>
									</div>
								</div>
								<p class="pname">Anna</p>
								<p class="pemail">qwerty@mit.edu</p>
								<div class="closebutton"></div>
							</div>
							<div class="vl_empty right">
							</div>
							<div style="display: block; clear: both;"></div>
						</li>
						<li class="second">
							<div class="vl_empty left">
							</div>
							<div class="vl_video element">
								<video poster='vr.png' controls>
										<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
								</video>
								<p class="pname cool">Lee</p>
								<p class="pemail">hilow@mit.edu</p>
								<div class="closebutton wide"></div>
							</div>
							<div class="vl_empty right">
							</div>
							<div style="display: block; clear: both;"></div>
						</li>-->
						<li>
							<div class="vl_empty left">
							</div>
							<div class="vl_video element">
								<video poster='vr.png' controls>
										<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
								</video>
								<p class="pname cool">Rebecca</p>
								<p class="pemail">becca@mit.edu</p>
								<div class="closebutton wide"></div>
							</div>
							<div class="vl_empty right">
							</div>
							<div style="display: block; clear: both;"></div>
						</li>
					</ul>
					<div style="display: block; clear: both;"></div>
				</div>
						<!-- GuideLine -->
				<!-- <div id="guideline">
					<div class="textinguide active">Choose greetee</div>
					<div class="textinguide active">Invite greeters</div>
					<div class="textinguide inactive">Record message</div>
					<div class="textinguide inactive">Create one video</div>
					<div style="display: block; clear: both;"></div>
				</div>	-->
				<div style="display: block; clear: both;"></div>	
			</div>
			<div style="display: block; clear: both;"></div>
		</div>
		<!-- FOOTERRRRR -->
		<div id="footer">
			<ul id="f_links">
				<li><a href="">About</a></li>
				<li><a href="">Support</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
			<p id="f_copyright">
				&#169; Videoroast.com all rights reserved
			</p>
			<div style="display: block; clear: both;"></div>
		</div>
		
		
		<!-- Example JavaScript files -->


<!-- Example jQuery code (JavaScript)  -->

	</body>

	
	
</html>