<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/mainpage.css" />
	</head>


	<body>
		<!-- HEADERRRRR -->
		<div id="header">
			<div id="logo">
				<a href="">VIDEOROAST.COM</a>
			</div>
			
			<div id="userinfo">
				Hey user
			</div>
			<div style="display: block; clear: both;"></div>
		</div>
		
		<!--BODY -->
		<div id="page_body">
			<div id="leftside">
				<div class="magic_button">
					<div>
						<a href="/greetingpage">Start your own greeting!</a>
					</div>
				</div>
				<video poster='vr.png' class="hiw_video" controls>
				<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
				</video>
			</div>
			<div id="rightside">
				<div id="title_examples">
					<a href="">Examples of greetings</a>
				</div>
				<div id="block_examples">
					<div class="el_example">
						<video poster='vr.png' class="ex_video">
							<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
						</video>
						<p>Example</p>
					</div>
					<div class="el_example">
						<video poster='vr.png' class="ex_video">
							<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
						</video>
						<p>Example</p>
					</div>
					<div class="el_example">
						<video poster='vr.png' class="ex_video">
							<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
						</video>
						<p>Example</p>
					</div>
					<div class="el_example">
						<video poster='vr.png' class="ex_video">
							<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
						</video>
						<p>Example</p>
					</div>
					<div class="el_example">
						<video poster='vr.png' class="ex_video">
							<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
						</video>
						<p>Example</p>
					</div>
					<div class="el_example">
						<video poster='vr.png' class="ex_video">
							<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
						</video>
						<p>Example</p>
					</div>
					<div style="display: block; clear: both;"></div>
				</div>
			</div>
			<div style="display: block; clear: both;"></div>
		</div>
		<!-- FOOTERRRRR -->
		<div id="footer">
			<ul id="f_links">
				<li><a href="">About</a></li>
				<li><a href="">Support</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
			<p id="f_copyright">
				&#169; Videoroast.com all rights reserved
			</p>
			<div style="display: block; clear: both;"></div>
		</div>
	</body>

	
	
</html>
