html,body{
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100%;
    background: #f1f1f1;
    color: #333;
}
.colorize{
    color:rgb(250, 138, 51);
}
.bg_colorize{
    background-color: rgb(255, 229, 197);
}
.pointer{
    cursor: pointer;
}

#page-wrap{
    width: 1000px;
    
    margin: 30px auto;
}
#header{
    width: 100%;
    
    margin-bottom: 20px;
    font-size: 25px;
}
#content-wrap{
    width: 100%;
    
    position: relative;
}
#formulas{
    width: 60%;
    
    float: left;
}
#descriptioncolumn{
    padding-top: 10px;
    width: 40%;
    
    position: fixed;
    left: 70%;
    background: #f1f1f1;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px -10px #333;
    border: 1px solid rgb(173, 173, 173);
}
#footer{
    width: 100%;
    
    margin-top: 30px;
    color: #999;
    text-align: center;
    background-color: #333;
}

.descr-el{
    float: left;
    width: 100%;
    font-size: 15px;
    padding: 1px 0px;
}
.variable{
    float: left;
    
    width: 20%;
    text-align: center;
}
.description{
    float: left;
    
}
.title{
    width: 100%;
    
    font-size: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    color: rgb(129, 52, 0);
}